@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins/mixin";

.title {
  @include font-mixin(700);
  @include font(40 43);
  color: $primary-purple;

    &::before {
      font-size: inherit;
      width: (39em/28);
      height: (39em/28);
    }
  }

  .medium {
    @include font(28 34);
  }

  .small {
    @include font(24 29);
}
.subtitle {
  width: 259px;
  height: 27px;
  @include font(22 29);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
